
.links{
      text-decoration: none;
   }

   header{   
    border: white;
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0px;
    background: rgb(9,215,30);
    background: linear-gradient(0deg, rgba(9,215,30,1) 0%, rgba(0,88,32,1) 99%);
}
header img{
    width: 50px;
       
}

header ul{
    padding: 5px 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
         
}
header ul li{
    padding: 0px 5px;
    font-size: 12px;

}  
body{
    background: rgb(187,195,187);
    background: linear-gradient(0deg, rgba(187,195,187,1) 0%, rgba(241,249,244,1) 99%);
}
nav{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );;
}
main{
    margin: 20px;
}
main img{
    height: 400px;
}
.card-body{
    background: rgb(187,195,187);
    background: linear-gradient(0deg, rgba(187,195,187,1) 0%, rgba(241,249,244,1) 99%);
}

.card:hover{
    transform: translateY(-3px);
    transition: all 0.4s ease;
}

footer{
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 26%, rgba(199,209,203,1) 88%);
    margin: 10px 0px;
    padding: 15px;
}